@import '@/styles/colors';
@import '@/styles/forms';
@import '@/styles/helpers';
.innerpage{
    float: left;
    width: 100%;
    padding: 0;
    .innerpage_head{
        padding: 20px;
        margin: 0;
        background-color: $lightgray;
        width: 100%;
        float: left;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 2px 4px 0px #eaeaea;
        .formTitle{
            margin: 0;
            font: 25px NunitoSansReg;
            color: $text_color_dark;
            float: left;
        }
        .button.btnblue{
            float: right;
            border-radius: 5px;
            padding: 2px 15px 3px 5px;
            letter-spacing: 0.5px;
            img{
                float: left;
                margin-right: 5px;
                &.edit_icon{
                    width: 30px;
                    height: 28px;
                }
                &.plus_icon{
                    width: 14px;
                    height: auto;
                    margin: 8px 8px 6px 6px;
                }
            }
            span{
                font: 13px NunitoSansBold;
                margin: 7px 0 0;
                display: inline-block;
            }
        }
    }
    .isFile{
        float: right;
        width: auto;
        padding: 0;
        margin: 0;

        .file_uploader .label_button span{
            padding: 10px 0 2px 12px;
            margin: 0;
        }
    }
    // .button.btnblue{
    //     float: right;
    //     border-radius: 5px;
    //     padding: 2px 15px 3px 5px;
    //     letter-spacing: 0.5px;
    //     img{
    //         float: left;
    //         margin-right: 5px;
    //         &.edit_icon{
    //             width: 30px;
    //             height: 28px;
    //         }
    //         &.plus_icon{
    //             width: 14px;
    //             height: auto;
    //             margin: 8px 8px 6px 6px;
    //         }
    //     }
    //     span{
    //         font: 13px NunitoSansBold;
    //         margin: 7px 0 0;
    //         display: inline-block;
    //     }
    // }
}
.imageForm{
    margin: 20px;
    float: left;
    .checkbox{
        float: none;
        margin: 0;
        display: inline-block;
        left: 2px;
        &.disabled{
            pointer-events: none;
            .checkmark{
                border-color: $darkgray;
            }
        }
        .checkmark{
            border-color: $blue;
        }
    }
    .checkbox{
        position: relative;
        width: 18px;
        height: 18px;
        top: 3px;
        float: left;
        margin: 0 5px 15px;
        cursor: pointer;
        .lbl{
            position: absolute;
            left: 25px;
            font: 15px NunitoSansBold;
            color: $blue;
            width: max-content;
        }
        input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark:after {
                display: block;
            }
        }
        input:checked + .checkmark{
            background-color: $blue;
        }
        .checkmark{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: 1px solid $blue;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
            &:after {
                left: 5px;
                top: 0px;
                width: 7px;
                height: 12px;
                border: solid $white;;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        &:hover{
            .checkmark{
                background-color: $blue;
            }
        }
        &:checked ~ .checkmark {
            background-color: $blue;
        }
    }
    .imageContainer{
        border: 1px solid $darkgray;
        background-color: $gray;
        overflow: hidden;
        padding: 10px;
        margin: 8px;
        .npt{
            margin: 25px 0 0;
            padding: 0;
            input{
                background-color: $white;
            }
        }
        img{

            width: 100%;
        }
    }
}