@import '@/styles/colors';
@import '@/styles/helpers';
@import '@/styles/forms';
.sublinks{
    background-color: $gray;
    padding: 30px 30px 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid $darkgray;
    // min-height: 80px;
    ul{
        position: relative;
        top: 1px;
        li{
            list-style: none;
            display: inline;
            &.linkActive{
                a{
                    background-color: $white;
                    color: $text_color_blue;
                    border: 1px solid $darkgray;
                    border-bottom: 0;
                }
            }
            a{
                display: inline-block;
                text-decoration: none;
                color: $text_color_dark;
                border: 1px solid transparent;
                border-bottom: 0;
                padding: 15px 25px 10px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                font: 12px NunitoSansReg;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
}
.innerpage{
    float: left;
    width: 100%;
    padding: 20px 15px;
    .formTitle{
        margin: 0 0 10px;
        font: 25px NunitoSansReg;
        color: $text_color_dark;
        float: left;
    }
    .button.btnblue{
        float: right;
        border-radius: 5px;
        padding: 2px 15px 3px 5px;
        letter-spacing: 0.5px;
        img{
            float: left;
            margin-right: 5px;
            &.edit_icon{
                width: 30px;
                height: 28px;
            }
            &.plus_icon{
                width: 14px;
                height: auto;
                margin: 8px 8px 6px 6px;
            }
        }
        span{
            font: 13px NunitoSansBold;
            margin: 7px 0 0;
            display: inline-block;
        }
    }
    .pageForm{
        // width: 80%;
        margin: 0 0 0 10px;
        display: flex;
        flex-direction: column;
        .button.btngreen{
            width: 100%;
            margin: 0 auto;
            border-radius: 10px;
        }
    }
    .linkForm{
        width: 400px;
        margin: 0 auto;
        .button.btngreen{
            width: 100%;
            border-radius: 10px;
        }
    }

    .linkDropdown{
        margin: -13px 0 35px;
        position: relative;
        &.err .dropdownInput{
            border-color: $red;
        }
        .linkLabel{
            font: 10px NunitoSansBold;
            font-weight: 600;
            color: $blue;
            text-transform: uppercase;
            float: left;
            span {
                color: $red;
                font-size: 13px;
                float: right;
                margin-left: 5px;
                margin-top: -3px;
            }
        }
        .clearLink{
            float: right;
            color: $red;
            cursor: pointer;
            font: 10px NunitoSansBold;
            text-transform: uppercase;
            font-weight: 600;
        }
        .dropdownInput{
            border: 1px solid $blue;
            padding: 7px 12px 0;
            font-size: 13px;
            cursor: pointer;
            background-image: linear-gradient(45deg, transparent 50%, $black 50%), linear-gradient(135deg, $black 50%, transparent 50%);
            background-position: calc(100% - 11px) calc(1em + 0.5px), calc(100% - 6px) calc(1em + 0.5px), calc(100% - 2.5em) 0.5em;
            background-size: 5px 5px, 5px 5px, 0.5px 1.5em;
            background-repeat: no-repeat;
            height: 35px;
            clear: both;
        }
        .linkNavs{
            padding: 10px;
            border: 1px solid $blue;
            position: absolute;
            top: 48px;
            width: 100%;
            background-color: $lightgray;
            z-index: 2;
            .linkMenu{
                margin-left: 20px;
                li{
                    .linkWrapper:hover, .linkWrapper.active{
                        color: $blue;
                        cursor: pointer;
                    }
                }
                .linkWrapper{
                    padding: 5px 10px;
                    font-size: 13px;
                    &.disabled{
                        color: $darkgray;
                        pointer-events: none;
                        cursor: not-allowed;
                    }
                }
                .linkSubmenu{
                    margin-left: 20px;
                }
            }
        }
    }
}