// Colors
$transparent: transparent;
$white: #fff;
$black: #000;
$gray: #e9e9e9;
$lightgray: #f9f9f9;
$darkgray: #ccc;
$blue: #0077c0;
$border_blue: #054871;
$red: #f00;
$border_red: #940f0f;
$green: #14b11c;
$border_green: #008207;
$yellow: #d8c700;
$border_yellow: #7e7407;

$text_color_blue: #1f9aff;
$text_color_dark: #474747;