@import './colors';
.npt{
	position: relative;
	width: 100%;
	padding-bottom: 35px;
	display: flex;
  &.err{
    position: relative;
    textarea, select, input[type=text], input[type=email], input[type=password], input[type=file]
    {
      border: 1px solid $red;
    }
  }

	.lbl{
		position: absolute;
		top: -13px;
		left: 0;
		font: 10px NunitoSansBold;
		font-weight: 600;
		color: $blue;
		text-transform: uppercase;
		span{
			color: $red;
			font-size: 13px;
			float: right;
			margin-left: 5px;
			margin-top: -3px;
		}
	}
    input[type=text], input[type=email], select, textarea, input[type=password]{
      border: 1px solid $blue;
      padding: 8px 10px;
      font-size: 13px;
      width: 100%;
      text-overflow: ellipsis;
      border-radius: 0;
      background-color: $transparent;
      // -webkit-appearance: none;
      &:focus{outline:none;}
      &:disabled{
        cursor: not-allowed;
        background-color: $lightgray;
        border-color: $gray;
      }
    }
    select{
      background-image: linear-gradient(45deg, transparent 50%, $black 50%), linear-gradient(135deg, $black 50%, transparent 50%);
      background-position: calc(100% - 11px) calc(1em + 2px), calc(100% - 6px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      appearance: none;
      padding: 9px 10px 8px;
      height: 35px;
    }  
    &.isFile{
      display: block;
      padding-bottom: 30px;
      &.err{
        position: relative;
        .file_uploader .label_button, input[type=text]{
          border: 1px solid $red;
        }
        .popover{
          bottom: 46px;
        }
      }
      .file_uploader{
        position: relative;
        margin: 0;
        width: 100%;
        overflow: hidden;
    
        .label_button{
          position: relative;
          z-index: 1;
          background-color: $blue;
          // border: 1px solid $border_blue;
          color: $white;
          height: 100%;
          padding: 0;
          top: 0;
          bottom: 0;
          display: inline-block;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          overflow: hidden;
          cursor: pointer;
    
          input[type=file] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
            width: 100%;
            z-index: -1;
          }
    
          span{
            padding: 10px 14px 9px;
            float: left;
            height: 100%;
            width: 100%;
            font: 11px NunitoSansBold;
            letter-spacing: .4px;
          }
        }
        input[type=text] {
          position: absolute;
          top: 0;
          left: -2px;
          padding: 0;
          min-height: 36px;
          text-indent: 90px;
          cursor: not-allowed;
        }
      }
    }
  
    .popover{
      position: absolute;
      right: 10px;
      bottom: 75px;
      z-index: 1;
      max-width: 250px;
      display: none;
      &.textarea{
        bottom: 93px;
      }
      .arrow{
        left: 50%;
        position: absolute;
        bottom: -7px;
        &::after, &::before {
          position: absolute;
          display: block;
          border-color: transparent;
          border-style: solid;
          bottom: 0;
          content: "";
          border-width: .5rem .5rem 0;
        }
        &::after {
          bottom: 1px;
          border-width: .5rem .5rem 0;
          border-top-color: $white;
        }
      }
      .popoverBody{
          padding: 4px 10px;
          line-height: 16px;
          background-color: $white;
          border: 1px solid;
          float: left;
          width: 100%;
          .errmsg{
            margin: 0;
            padding: 0;
            min-height: auto;
            font-size: 12px;
            text-align: center;
            float: none;
          }
      }
    
      &.flipInY
      {
          -webkit-animation: flipInY .8s;
          animation: flipInY .8s;
      }
      @keyframes flipInY
      {
          0% {
              transform: perspective(500px) rotateY(70deg);
              opacity: .2;
          }
          30% {
              transform: perspective(500px) rotateY(-30deg);
          }
          85% {
              transform: perspective(500px) rotateY(10deg);
          }
          100% {
              transform: perspective(500px) rotateY(0deg);
          }
      }
      @-webkit-keyframes flipInY
      {
          0% {
              -webkit-transform: perspective(500px) rotateY(70deg);
              opacity: .2;
          }
          30% {
              -webkit-transform: perspective(500px) rotateY(-30deg);
          }
          85% {
              -webkit-transform: perspective(500px) rotateY(10deg);
          }
          100% {
              -webkit-transform: perspective(500px) rotateY(0deg);
          }
      }
  }
  &:focus-within{
      .popover{
        display: block;
        opacity: 1;
        transition: opacity 0.2s ease all;
        -moz-transition: opacity 0.2s ease all;
        -webkit-transition: opacity 0.2s ease all;
      }
  }
  .popover{
      opacity: 0;
      display: none;
      transition: opacity 0.2s ease all;
      -moz-transition: opacity 0.2s ease all;
      -webkit-transition: opacity 0.2s ease all;
      .arrow{
        &::before {
          border-top-color: $red;
        }
        &::after{
          border-top-color: $white;
        }
      }
      .popoverBody{
        border-color: $red;
      }
  }
}
.button{
    padding: 10px 20px 8px;
    text-transform: uppercase;
    font: 14px NunitoSansBold;
    outline: none;
    border: 1px solid;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
    &.btnblue{
      // background-color: rgba($blue, .6);
      background-color: $blue;
      color: $white;
      border-color: $border_blue;
    }
    &.btngreen{
      background-color: $green;
      color: $white;
      border-color: $border_green;
    }
    &.btnyellow{
      background-color: $yellow;
      color: $white;
      border-color: $border_yellow;
    }
    &.btnred{
      background-color: $red;
      color: $white;
      border-color: $border_red;
    }
    &.disabled, &:disabled{
      cursor: not-allowed;
      background-color: $lightgray;
      border-color: $gray;
      color: $darkgray;
      pointer-events: none;
    }
}
